
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.ml-auto {
    margin-left: auto !important;
    padding-right: 105px;
  }

.navbar-brand {
    margin-right: auto !important;
    padding-left: 105px;


}